body, ul, li, input, h1, h2, h3, h4, h5, h6, p, a, th {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

ul {
  li {
    list-style: none;
  }
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
